*{
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS;
}


nav{
    position:sticky;
    display: flex;
    margin: auto;
    padding: 20px 5%;
    align-items: center;
    justify-content: space-between;
    background: #232b2b;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: .3s;
}

.navbar{
    display: flex;
}

.navbar li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}

.nav__link{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav__link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: orange;
    bottom: -4px;
    display: block;
    transition: ease .30s;
}

.nav__link:hover:after{
    width: 100%;
}

.nav__link:hover{
    color: #706C61;
}

.logo img{
    max-width: 100%;
    width: 200px;
    height: auto;
}

.logo img:hover{
    transform: rotate(22deg);
    transition: ease .30s;
}


#menu-icon{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.nav__link.active{
    color: orange;
}

.icon img{
    max-width: 100%;
    width: 35px;
    height: 35px;
}
.icon img:hover{
    transform: scale(1.2);
}

.HOME{
    height: 88vh;
    background: #3c3c3c;
    padding:0px;
    margin: 0px;
}

.landing{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.homepage{
    text-align:left;
    flex: 1;
}

.homepage h1{
    font-size: 50px;
    color: white;
    margin-left: 10%;
    margin-top: 4%;
}

span{
    color: orange;
    font-weight: bold;
    font-size: 50px;
    
}

.homepage p{
    color: white;
    line-height: 22px;
    margin-left: 10%;
    margin-top: 1%;
}

.cv-btn{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    font-size:20px;
    text-align: center;
    color: black;
    display: inline-block;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 5px;
    width: 100px;
}

.cv-btn:hover{
	background-color: transparent;
	border: 2px solid orange;
    color: white;
	cursor: pointer;
}

.top-btn{
	background-color: orange;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 25px;
	transition: transform .4s; 
}
.top-btn:hover{
    background: white;
    color: black;
	transform: scale(1.2);
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .boy{
    left: 45%;
}

.EDUCATION {
    height: 80vh;
    padding-top: 100px;
    background: #565656;
}

.acads{
    height: 17vh;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.acads h2{
    font-size: 42px;
    color: orange;
    font-weight: 650;
    margin-top: 4%;
    margin-bottom: auto;
    line-height: 1.1;
}

.acads p{
    color: white;
    font-size: 27px;
    font-weight:50;
    font-style: italic;
    line-height: 1.1;
    margin-top: 1%;
}

.education-content{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.col{
    position: relative;
}

.col img{
    max-width: 100%;
    width: 500px;
    height: auto;
    object-fit:fill;
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.col img:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.layer h3{
    color: white;
	font-size: 16px;
}

.layer h5{
    color: white;
	font-size: 12px;
}

.HOBBIES {
    height: 80vh;
	padding-top: 100px;
    padding-bottom: 100px;
    background: #7c7c7c;
}

.hobby {
    height: 15vh;
    text-align: center;
    margin-top: auto;
    margin-bottom: 3%;
}

.hobby span {
    position: relative;
    display: inline-block;
    font-size: 50px;
    font-weight: 650;
    color: white;
    margin-top: 4%;
    margin-bottom: auto;
	text-align: center;
    line-height: 1.1;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 500px;
	width: 330px;
	padding: 20px 35px;
	background: #444444;
	border-radius: 15px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover{
    background:#d9d9d9;
    transform: scale(1.1);
}

.card img{
	font-size: 50px;
	display: block;
	text-align: center;
	margin-top: 45px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 25px;
    max-width: 100%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}


.card h5{
	color: orange;
    font-weight: 600;
    font-family: Arial Narrow;
	font-size: 25px;
    margin-top: 20px;
}

.card .cardcon p{
	color: #696969;
	font-size: 16px;
	line-height: 27px;
    margin-top: 0px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.card .cardcon p:hover{
    color: #3A3845;
}


.card .button{
	background: transparent;
	color: orange;
	text-decoration: none;
	border: 2px solid white;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: ease .50s;
}

.card .button:hover{
	background: orange;
	cursor: pointer;
    color: white;
    transform: scale(1.1);
}


.PHOTOS {
    height: 85vh;
	padding-top: 120px;
    padding-bottom: 100px;
    background: #8e8e8e;
}

.word {
    height: 8vh;
    text-align: center;
    margin-top: 1%;
    margin-bottom: auto;
    color: orange;
    font: 700 normal 3.5em 'Trebuchet MS';
    text-shadow: 3px 1px #000000, 2px 1px #222324, 3px 2px #222324;
    align-items: center;
    position: relative;
    line-height: 1.1;
  }



.mySlides{
    display: none;
}

.mySlides .img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {  
    height: 550px;
    width: 50%;
    position: relative;
    margin:auto;
    padding-top: 40px;
    align-content: center;
    align-items: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 110px 12px;
  position: relative;
  bottom: 90px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  position: absolute;
  margin-top: 30px;
  margin-left: 15px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-top: 85px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
  background-color:#232b2b;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  height: 650px;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

footer{
	position:relative;
	width: 100%;
	height: 210px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-top: 1px;
}
footer p:nth-child(1){
	font-size: 23px;
	color: orange;
	margin-bottom: 5px;
	font-weight: bold;
}
.social{
	display: flex;
}
.social .fb{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #3B5998;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social .insta{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social .twit{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #1dcaff;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social .yt{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  red;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
    transform: rotate(25deg);
    transition: .2s;
    color: white;
}
.end{
	position: absolute;
	color:white;
	bottom: 25px;
	font-size: 14px; 
}